<html>
    <head>
        <title>author login page</title>
        
    </head>
    <form action = "/auth_data" method="post" >
        <fieldset>
            <legend>registration form:</legend>
            enter username : <input type="text" name="uname"><br><br>
            enter password : <input type="password" name="pwd"><br><br> 
            enter emailid : <input type="email" name="email"> <br><br>
            enter city : <input type="text" name="city"><br><br>
            <input type="submit" value="register">
        </fieldset>
    </form>
</html>