<html>
    <head>
        <title>home page</title>
        <style>
            .myDiv {
        border: 5px outset rgb(0, 255, 55);
        background-color: lightblue;    
        text-align: center;
    }

        </style>
    </head>
    <div class="myDiv">
        <h1></h1>
        <a href="/authorregister">author registeration</a><br><br>
        <a href="/authorlogin"> author login </a><br><br>
        <a href="/userregister">user registration</a><br><br>
        <a href="/userlogin">user login</a>

    </div>
</html>