<html>
    <head>
        <title>user registeration</title>
    </head>
    <form action="/user_data" method="post">
        <fieldset>
            <legend>user registration form:</legend>
            enter username : <input type="text" name="uname"><br><br>
            enter password : <input type="password" name="pwd"><br><br> 
            enter emailid : <input type="email" name="email"> <br><br>
            enter city : <input type="text" name="city"><br><br>
            <input type="submit" value="register">
        </fieldset>

    </form>
</html>